

:root{
    --bs-body-bg: #e8eef2;
}



.parallax {
    /* The image used */
    background-image: url("../img/banner.jpg");
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment:cover;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .parallax h1{
    font-family: 'Dancing Script', cursive;
    color:#fff;
  }

  .flotante{
    width: 130px;
    position:absolute;
    bottom: 120px;
    right: 50%;
  }

  .card img{
      width: 100%;;
  }


  hr{
      color:rgb(167, 167, 167)
  }

  ul{
      list-style: none;
      padding-left: 0;
  }

 .whatsapp {
   background-color: #25D366!important;
   position: fixed;
   padding: 10px;
   bottom:10px;
   right: 10px;
   width: 80px;
   border-radius: 50%;
 }

 .whatsapp a{
   color: #FFF;
   font-size: 2rem;
 }

 iframe{
   margin:0;
   padding:0;
 }

